
.DS_Store
bib.nt
b.nt
jstor.nt
*.nt
junk/*

t.sql
j.sql
z.sql
bibliography-10000.json
bibliography-20000.json
bibliography-40000.json
bibliography-30000.json
bibliography-50000.json
bibliography-70000.json
bibliography-60000.json
bibliography-80000.json
bibliography-85008.json
